<section class="content">
	<h2>Current Projects</h2>
	<p>These are projects that I've worked on for fun and practice.</p>
	<dl>
		<dt><%= link_to "Devise Uncommon Password", "https://github.com/HCLarsen/devise-uncommon_password", target:"_blank"%></dt>
		<dd>My first gem. It's an extension to the popular Devise gem that adds a feature to enforce greater security for logins. It adds a validation to the Devise model that will reject any creation or update if the chosen password is on the list of most common passwords in the world.</dd>
		<dt><%= link_to "Swift HTMLParser", "https://github.com/HCLarsen/HTMLParser", target:"_blank"%></dt>
		<dd>My first real Swift project. This is my response to a friend's challenge to create an HTML parser without using any external libraries. As Swift doesn't have any native Regex functions, this was quite a challenge.</dd>
		<dt><%= link_to "IoT Clock Radio", "https://github.com/HCLarsen/ruby-radio", target:"_blank"%></dt>
		<dd>An IoT Clock Radio, with Raspberry Pi for hardware, and all software written in Ruby. It uses GTK for the GUI interface, streams internet radio, accesses weather information from OpenWeatherMap and changes colour into a "night mode" after the sun sets.</dd>
		<dt><%= link_to "Spending Money", "https://spending-money.herokuapp.com", target:"_blank"%></dt>
		<dd>A simple money management app. You save your regular income and expenses. Then, you enter your current bank balance, and the app will calculate how much "spending money" you have available until your next paycheque so that you don't fall behind your bills. I wrote this app in 8 hours.</dd>
		<dt><%= link_to "Round Table", "https://round-table-pm.herokuapp.com", target:"_blank"%></dt>
		<dd>My first Ruby on Rails web app, which is a project management application. It was completed in 6 days, with minor improvements added over the past year.</dd>
	</dl>
</section>
