<header>
  <h1>Chris Larsen</h1>
  <div class="navbar navbar-default">
    <nav>
      <ul class="nav navbar-nav">
        <li><%= link_to "Home",   root_path %></li>
        <li><%= link_to "About Me", about_path %></li>
        <li><%= link_to "Current Projects", projects_path %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if admin_signed_in? %>
          <li><%= link_to "Sign Out", destroy_admin_session_path, method: "delete" %></li>
        <% else %>
          <li><%= link_to "Sign In", new_admin_session_path %></li>        
        <% end %>
      </ul>
    </nav>
  </div>
</header>
